body{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    user-select: none;
}

header{
    background-color: #ffffff;
    margin: 0px;
    padding: 2px;
    border-bottom: solid 1px rgb(201, 201, 201);
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 100px;
}

header a {
    margin: 0px;
    padding: 0px;
    width: 125px;
}

header .logo {
    position: absolute;
    max-height: 100px;
    max-width: 200px;
}

header .icons{
    position: absolute;
    right: 30px;
    top: 25px;
    vertical-align: middle;
}

header .icon{
    max-width: 50px;
    max-height: 50px;
}

header nav {
    position: absolute;
    left: 10px;
}


nav li {
    display: inline;
}

nav li a{
    color: black;
    text-decoration: none;
}

section {
    padding-top: 1%;
}

.header {
    padding: 0px;
}

.header img {
    object-fit: cover;
    width: 100%;
    height: 40vw;
    border-bottom: solid 1px rgb(201, 201, 201);
}

.centerSection {
    display: flex;
    justify-content: center;
}


section h1 {
    text-align: center;
    align-content: center;
    align-items: center;
    color: rgb(78, 78, 78);
}

.articles{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 0px;
}

.article{
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border: 1px solid #e6e6e6;
    transition: border 0.3s;
    width: 250px;
    aspect-ratio: 1/1;
}

.article img{
    object-fit: contain;
    max-height: 200px;
    padding: 10px;
    width: 200px;
    margin: 10px;
    border-radius: 7px;
    transition: all 0.5s;
}

.article h1 {
    text-align: start;
    padding: 0px 15px 0px 15px;
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
    writing-mode: vertical-rl;
    position: absolute;
    top: 20px;
    left: 0px;
}

.article h2 {
    text-align: start;
    padding: 0px 15px 0px 15px;
    font-size: 13px;
    margin: 0px;
    font-weight: lighter;
    writing-mode: vertical-rl;
    position: absolute;
    top: 20px;
    left: 25px;
}

.article:hover{
    border: 1px solid #858585;
}

.article div {
    background-color: #661694;
    color: rgb(255, 246, 243);
    width: 100%;
    text-align: center;
    margin: 10px;
    height: 50px;
    border-radius: 2px;
    text-decoration: bold;
    bottom: 0px;
    transition: all 0.8s;
    position: relative;
}

.article div img {
    margin: 0px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 0px;
    opacity: 0%;
    transition: opacity 0.25s;
}

.article div p {
    color: #f1f1f1;
    opacity: 100%;
}

.article div:hover {
    cursor: pointer;   
}

.article div:hover img{
    opacity: 100%;
}

.article div:hover p{
    opacity: 0%;
}

.articles:hover .article:not(:hover) > img{
    opacity: 65%;
    filter: saturate(50%);
}

form {
    max-width: 400px;
    padding: 40px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 3px;
}

.login .country {
    margin-top: 4px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid rgb(201, 201, 201);
    height: 30px;
    padding-left: 8px;
    border-radius: 5px;
}

.login h3{
    margin: 0px;
    text-align: center;
}

.login p {
    margin-bottom: 0px;
    margin-top: 25px;
}

.login .text{
    margin-top: 4px;
    width: 98%;
    background-color: #f1f1f1;
    border: 1px solid rgb(201, 201, 201);
    height: 30px;
    padding-left: 8px;
    border-radius: 5px;
}

.login .button {
    background-color: #661694;
    padding: 18px;
    color: white;
    font-weight: bold;
    border: 0;
    min-width: 200px;
    width: 100%;
    border-radius: 7px;
    font-size: 15px;
    margin-top: 35px;
}

.login .button:hover{
    cursor: pointer;   
}

aside {
    background-color: rgb(201, 201, 201);
    display: grid;
    gap: 1px;
    padding: 1px;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
}

aside div{
    background-color: white;
    padding: 15px;
    position: relative;
}

aside div > img{
    height: 80%;
    position: absolute;
    bottom: 0px;
}

.socialIcon {
    height: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
}

aside div div {
    margin: 5px;
}

aside a > p {
    position: absolute;
    top: -11px;
    left: 35px;
    color: #252525;
    transition: all 1s;
}

aside a {
    transition: all 1s;
}

aside a:hover{
    color: #771aad;
}

aside div h3 {
    color: #252525;
    text-decoration: underline
}

aside div ul {
    padding-left: 20px;
}

aside div li {
    padding-bottom: 14px;
}

aside div li a {
    color: #252525;
}

footer {
    text-align: center;
    max-width: 100%;
    padding: 35px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-top: 15px;
}

.footerWhite{
    background-color: white;
    color: black;
}

footer a {
    text-decoration: none;
    color: rgb(30, 88, 214);
}

@media (max-width: 900px) {
    aside {
        grid-template-columns: 1fr 1fr;
    }

    aside > div:nth-child(3) {
        grid-column: span 2;
    }
}

@media (max-width: 800px) {
    aside {
        grid-template-columns: 1fr;
    }

    aside div > img{
        height: 100px;
        position: relative;
        bottom: 0px;
    }

    aside > div:nth-child(3) {
        grid-column: span 1;
    }
}